.home-container {
    text-align: center;
    padding: 20px;
  }
#headerName{
    text-align: center;
}
.addcustomer {
  width: 100px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
}
  .header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
  }
  
  .main-content {
    margin-top: 20px;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .search-bar input[type="text"] {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  .search-bar button {
    width: 100px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .search-bar button:hover {
    background-color: #555;
  }

  table {
    border: 2px solid forestgreen;
    width: 800px;
    height: 200px;
}
 
th {
    border-bottom: 1px solid black;
}
 
td {
    text-align: center;
}
.form-container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}